/Notepad/bin/
/Notepad/obj/
/Notepad/UnitTest/bin/
/Notepad/UnitTest/obj/
/Notepad/Notepad/bin/Debug
/Notepad/Notepad/obj/Debug
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp